* {
  margin: 0;
}

/* ================================= Header ================================ */

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #003d79;
  padding: 15px 0;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 15px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #003d79;
  padding-top: 35px;
  align-items: center;
}

.closeButton {
  align-self: flex-end;
  margin-right: 35px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 30px;
}

.mobileMenuLogo img {
  width: 150px;
}

.menuItems,
.menuButtons {
  display: flex;
  gap: 35px;
  align-items: center;
}

.menuItems {
  flex-direction: column;
  align-self: flex-start;
  margin: 70px auto 0 38%;
  align-items: flex-start;
}

.menuItems li {
  list-style: none;
  color: white;
}

.menuItems li a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
}

.menuItems li a:hover {
  color: #fdb913;
}

.menuButtons {
  margin-top: 80px;
}

.menuButtons * {
  height: 40px;
  padding: 0 25px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.menuButtons :first-child {
  background: #00f545;
}

.menuButtons :first-child:hover {
  background: #fdb913;
}

.menuButtons :last-child {
  background: #fdb913;
}

.menuButtons :last-child:hover {
  background: #00f545;
}

.logoImage {
  margin-left: 60px;
}

.hamContainer {
}

/* ============================================   Desktop    ================================= */

@media only screen and (min-width: 1100px) {
  .hamContainer,
  .mobileMenuLogo,
  .closeButton {
    display: none;
  }

  .menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    padding-top: 0;
  }

  .menuItems {
    flex-direction: row;
    align-self: auto;
    margin: 0;
    align-items: auto;
  }

  .menuButtons {
    margin-top: 0;
  }

  .menuItems,
  .menuButtons {
    gap: 80px;
  }
}
