* {
  margin: 0;
}

body {
  background: rgba(0, 61, 121, 0.59);
}

/* ================================= Header ================================ */

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background: #003d79;
  padding: 15px 0;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 15px;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #003d79;
  padding-top: 35px;
  align-items: center;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.show {
  left: 0;
  opacity: 1;
}

.closeButton {
  align-self: flex-end;
  margin-right: 35px;
  cursor: pointer;
  color: white;
  border: none;
  font-size: 30px;
}

.mobileMenuLogo img {
  width: 150px;
}

.menuItems,
.menuButtons {
  display: flex;
  gap: 35px;
  align-items: center;
}

.menuItems {
  margin-top: 20px;
  flex-direction: column;
  align-self: flex-start;
  align-items: center;
  width: 100%;
}

.menuItems li {
  list-style: none;
  color: white;
}

.menuItems li a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
}

.menuItems li a:hover {
  color: #fdb913;
}

.menuButtons {
  margin-top: 80px;
}

.menuButtons * {
  height: 40px;
  padding: 0 25px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.menuButtons :first-child {
  background: #00f545;
}

.menuButtons :first-child:hover {
  background: #fdb913;
}

.menuButtons :last-child {
  background: #fdb913;
}

.menuButtons :last-child:hover {
  background: #00f545;
}

.logoImage {
  margin-left: 30px;
}
.hamContainer {
  justify-self: flex-end;
  align-self: center;
  margin-right: 27px;
}
.hamContainer i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

/* ======================================HERO  ====================================== */

.hero {
  display: grid;
  grid-template-columns: 1fr;
  margin: 45px 0;
}

.heroText {
  background: #003d79;
  border-radius: 0px 292px 0px 0px;
  padding: 150px 30px 70px 30px;
  color: white;
}

.heroText h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 10px;
}

.heroText h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  margin-bottom: 35px;
}

.heroText p {
  font-weight: 400;
  font-size: 18px;
  margin: 15px 0;
}

.statsContainer {
  margin-top: 45px;
}

.stats > div:first-child {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px -4px 0px #ffffff;
  border-radius: 5px;
}

.stats > div:first-child,
.stats > div:last-child {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 30px 0;
}

.stats p {
  font-weight: 400;
  font-size: 20px;
  line-height: 42px;
  text-align: center;

  color: #ffffff;
}

.statsContainer span {
  display: block;
  line-height: 22px;
  font-size: 15px;
  color: #ffffff;
  width: 80%;
  margin: 0 auto;
}

.heroImage {
  margin-top: 25px;
}

.heroImage img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
/* ============================================   Desktop    ================================= */

@media only screen and (min-width: 1100px) {
  .hamContainer,
  .mobileMenuLogo,
  .closeButton {
    display: none !important;
  }

  .menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background-color: transparent;
    padding-top: 0;
    opacity: 1;
  }

  .menuItems {
    flex-direction: row;
    align-self: auto;
    margin: 0;
    align-items: auto;
  }

  .menuButtons {
    margin-top: 0;
  }

  .menuItems,
  .menuButtons {
    gap: 80px;
  }

  /* =========================HERO=========================== */

  .hero {
    grid-template-columns: 1.3fr 1fr;
  }

  .heroText {
    padding: 120px 130px;
  }

  .heroText h1 {
    font-size: 50px;
  }

  .heroText h2 {
    font-size: 40px;
  }

  .stats > div:first-child,
  .stats > div:last-child {
    width: 50%;
  }

  .stats p {
    font-size: 22px;
  }

  .statsContainer span {
    width: 50%;
  }

  .heroImage {
    margin-top: 0;
  }
}
